<div class="container">
  <mat-card>
    <mat-card-title class="card-header">
      Nenhuma venda deve ser feita "de graça". Temos contas a pagar.
    </mat-card-title>
    <!-- INÍCIO: Form de cadastro -->
    <form [formGroup]="saleForm">
      <mat-card class="mat-elevation-z0 outlined-card" style="margin-bottom: 1rem;">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <mat-card-content class="card-content" formGroupName="clientForm">
          <!-- INÍCIO: Nome -->
          <mat-form-field
            appearance="outline"
            matAutocompleteOrigin
            #origin="matAutocompleteOrigin"
          >
            <mat-label>Nome</mat-label>
            <input
              matInput
              minlength="3"
              maxlength="50"
              placeholder="Nome"
              formControlName="name"
              [matAutocomplete]="auto"
              [matAutocompleteConnectedTo]="origin"
              name="name"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              (optionSelected)="setFormData($event)"
            >
              <mat-option
                *ngFor="let client of filteredClients$ | async"
                [value]="client"
              >
                {{ client.name }} {{ client.surname }} | CPF: {{ client.cpf }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              <div *ngIf="name.invalid">
                <div *ngIf="name.errors?.['required']">Nome é obrigatório</div>
                <div *ngIf="name.errors?.['minlength']">
                  Nome deve ter no mínimo 3 caracteres
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                  Nome deve ter no máximo 50 caracteres
                </div>
              </div>
            </mat-error>
          </mat-form-field>
          <!-- FIM: Nome -->
          <!-- INÍCIO: Sobrenome -->
          <mat-form-field appearance="outline" *ngIf="surname.valid">
            <mat-label>Sobrenome</mat-label>
            <input
              matInput
              minlength="3"
              maxlength="255"
              placeholder="Sobrenome"
              formControlName="surname"
              [matAutocomplete]="auto"
              [matAutocompleteConnectedTo]="origin"
              name="surname"
            />
            <mat-error>
              <div *ngIf="surname.invalid">
                <div *ngIf="surname.errors?.['required']">
                  Sobrenome é obrigatório
                </div>
                <div *ngIf="surname.errors?.['minlength']">
                  Sobrenome deve ter no mínimo 3 caracteres
                </div>
                <div *ngIf="surname.errors?.['maxlength']">
                  Sobrenome deve ter no máximo 255 caracteres
                </div>
              </div>
            </mat-error>
          </mat-form-field>
          <!-- FIM: Sobrenome -->
          <!-- INÍCIO: Email -->
          <mat-form-field appearance="outline" *ngIf="email.valid">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              formControlName="email"
              [matAutocomplete]="auto"
              [matAutocompleteConnectedTo]="origin"
              placeholder="E-mail"
              name="email"
            />
            <mat-error *ngIf="email.invalid && email.hasError('email')">
              Digite um e-mail válido
            </mat-error>
          </mat-form-field>
          <!-- FIM: Email -->
          <!-- INÍCIO: CPF -->
          <mat-form-field
            [hintLabel]="cpf.invalid ? 'Digite apenas números' : ' '"
            appearance="outline"
            *ngIf="cpf.valid"
          >
            <mat-label>CPF</mat-label>
            <input
              matInput
              #input
              type="number"
              maxlength="11"
              formControlName="cpf"
              [matAutocomplete]="auto"
              [matAutocompleteConnectedTo]="origin"
              placeholder="CPF"
              name="cpf"
            />
            <mat-hint align="end">{{ input.value?.length || 0 }}/11</mat-hint>
            <mat-error>
              <div *ngIf="cpf.invalid">
                <div *ngIf="cpf.errors?.['required']">CPF é obrigatório</div>
              </div>
            </mat-error>
          </mat-form-field>
          <!-- FIM: CPF -->
        </mat-card-content>
      </mat-card>
      <!-- INÍCIO: Cursos -->
      <mat-card class="mat-elevation-z0 outlined-card">
        <h3 style="text-align: center; font-weight: bold">
          Escolha os cursos que o cliente irá cursar
        </h3>
        <mat-card-content>
          <div
            formArrayName="courseArray"
            *ngFor="let array of courseArray.controls; let i = index"
            class="checkboxes"
          >
            <mat-checkbox [formControlName]="i" (change)="checkValue()">
              {{ courses[i].title }}
            </mat-checkbox>
          </div>
          <!-- INÍCIO: Valor Pago -->
          <mat-form-field class="value-paid">
            <mat-label>Valor Pago</mat-label>
            <input
              matInput
              currencyMask
              [options]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                align: 'left'
              }"
              placeholder="Valor Pago"
              formControlName="value_paid"
              name="value_paid"
            />
          </mat-form-field>
          <!-- FIM: Valor Pago -->
        </mat-card-content>
      </mat-card>
      <!-- FIM: Cursos -->
    </form>
    <!-- FIM: Form de cadastro -->
    <mat-card-actions>
      <a class="spacing" mat-button routerLink="/sales">Voltar</a>
      <button
        class="spacing"
        mat-flat-button
        color="primary"
        [disabled]="saleForm.invalid || total === 0"
        (click)="addSale()"
      >
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
