.header {
  height: 6rem;
  color: white;
  background-color: #3f51b5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 37.5em) {
      flex-wrap: wrap;
      align-content: space-around;
      height: 9rem;
      font-size: 1.4rem;
  }
}

.logo {
  margin-left: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.botoes {
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;

  &--spacing {
    margin: .3rem;
  }
}

.userMenu {
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
}
