:host {
  position: fixed;
  top: 0;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  margin-left: 2rem;
  font-size: 1.8rem;

  @media only screen and (max-width: 37.5em) {
    margin-left: .2rem;
  }
}

.botoes {
  margin-right: 2rem;

  @media only screen and (max-width: 37.5em) {
    margin-right: .2rem;
  }

  &--spacing {
    margin: .4rem;
  }
}

.userMenu {
  margin-right: 2rem;
}

mat-toolbar {
  height: 5.6rem;
}