.container {
  max-width: 55rem;
  min-height: 45rem;
  margin: 8rem auto;

  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
  }
  @media only screen and (max-width: 37.5em) {
    .container {
      border-radius: 0;
    }
  }
}
