<div class="container" *ngIf="course">
  <mat-card class="mat-elevation-z0 outlined-card">
    <form>
      <mat-card-content class="card-content">
        <mat-form-field>
          <mat-label for="course-title">Título</mat-label>
          <input
            matInput
            placeholder="Título"
            name="title"
            id="course-title"
            [(ngModel)]="course.title"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Carga Horária</mat-label>
          <input
            matInput
            placeholder="Carga Horária"
            name="workload"
            type="number"
            [(ngModel)]="course.workload"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <input
            matInput
            placeholder="Tipo"
            name="type"
            [(ngModel)]="course.type"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Área</mat-label>
          <input
            matInput
            placeholder="Área"
            name="area"
            [(ngModel)]="course.area"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Preço</mat-label>
          <input
            matInput
            currencyMask
            [options]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',',
              align: 'left'
            }"
            placeholder="Preço"
            name="price"
            [(ngModel)]="course.price"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <a class="spacing" mat-flat-button (click)="goBack()">Voltar</a>
        <button
          class="spacing"
          mat-flat-button
          color="primary"
          (click)="saveCourse()"
        >
          Salvar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
