<div class="container">
  <mat-card>
    <mat-card-title class="card-header">Registre o estagiário com sabedoria</mat-card-title>
    <!-- INÍCIO: Form de cadastro -->
    <form [formGroup]="userForm">
      <mat-card-content class="card-content">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <!-- INÍCIO: Nome -->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            matInput
            minlength="3"
            maxlength="50"
            placeholder="Nome"
            formControlName="name"
            name="name"
            required
          />
          <mat-error>
            <div *ngIf="name.invalid">
              <div *ngIf="name.errors?.['required']">
                Nome é obrigatório
              </div>
              <div *ngIf="name.errors?.['minlength']">
                Nome deve ter no mínimo 3 caracteres
              </div>
              <div *ngIf="name.errors?.['maxlength']">
                Nome deve ter no máximo 50 caracteres
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Nome -->
        <!-- INÍCIO: Sobrenome -->
        <mat-form-field appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <input
            matInput
            minlength="3"
            maxlength="255"
            placeholder="Sobrenome"
            formControlName="surname"
            name="surname"
            required
          />
          <mat-error>
            <div *ngIf="surname.invalid">
              <div *ngIf="surname.errors?.['required']">
                Sobrenome é obrigatório
              </div>
              <div *ngIf="surname.errors?.['minlength']">
                Sobrenome deve ter no mínimo 3 caracteres
              </div>
              <div *ngIf="surname.errors?.['maxlength']">
                Sobrenome deve ter no máximo 255 caracteres
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Sobrenome -->
        <!-- INÍCIO: Email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Email"
            name="email"
            required
          />
          <mat-error *ngIf="email.invalid && email.hasError('email')">
            Email inválido!
          </mat-error>
        </mat-form-field>
        <!-- FIM: Email -->
        <!-- INÍCIO: Senha -->
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hide1 ? 'password' : 'text'"
            formControlName="password"
            placeholder="Senha"
            type="password"
            name="password"
            required
          />
          <a
            mat-icon-button
            matSuffix
            (click)="hide1 = !hide1"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1"
          >
            <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </a>
          <mat-error>
            <div *ngIf="password.invalid">
              <div *ngIf="password.errors?.['required']">Digite uma senha</div>
              <div *ngIf="password.errors?.['minlength']">
                Senha deve ter no mínimo 6 caracteres!
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Senha -->
        <!-- INÍCIO: Confirmação da senha -->
        <mat-form-field appearance="outline">
          <mat-label>Confirme a senha</mat-label>
          <input
            matInput
            [type]="hide2 ? 'password' : 'text'"
            placeholder="Confirme a senha"
            formControlName="repeatPassword"
            type="password"
            name="repeatPassword"
            required
          />
          <a
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </a>
          <mat-error
            *ngIf="
              repeatPassword.invalid && repeatPassword.hasError('passwordMatch')
            "
            >Senha não é compatível!</mat-error
          >
        </mat-form-field>
        <!-- FIM: Confirmação da senha -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">
          Cadastrar
        </button>
      </mat-card-actions>
    </form>
    <!-- FIM: Form de cadastro -->
  </mat-card>
</div>
