<div class="container">
  <mat-card class="mat-elevation-z0 outlined-card">
    <!-- INÍCIO: Form para adicionar curso -->
    <form [formGroup]="courseForm">
      <mat-card-content class="card-content">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <!-- INÍCIO: Título -->
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input
            matInput
            minlength="3"
            maxlength="255"
            placeholder="Título"
            formControlName="title"
            name="title"
          />
          <mat-error>
            <div *ngIf="title.invalid">
              <div *ngIf="title.errors?.['required']">Título é obrigatório</div>
              <div *ngIf="title.errors?.['minlength']">
                Título deve ter no mínimo 3 caracteres
              </div>
              <div *ngIf="title.errors?.['maxlength']">
                Título deve ter no máximo 255 caracteres
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Título -->
        <!-- INÍCIO: Carga Horária -->
        <mat-form-field>
          <mat-label>Carga Horária</mat-label>
          <input
            matInput
            placeholder="Carga Horária"
            formControlName="workload"
            name="workload"
            type="number"
          />
          <mat-error>
            <div *ngIf="workload.invalid">
              <div *ngIf="workload.errors?.['required']">
                Carga Horária é obrigatório
              </div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Carga Horária -->
        <!-- INÍCIO: Tipo -->
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <input
            matInput
            placeholder="Tipo"
            formControlName="type"
            name="type"
          />
          <mat-error>
            <div *ngIf="type.invalid">
              <div *ngIf="type.errors?.['required']">Tipo é obrigatório</div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Tipo -->
        <!-- INÍCIO: Área -->
        <mat-form-field>
          <mat-label>Área</mat-label>
          <input
            matInput
            placeholder="Área"
            formControlName="area"
            name="area"
          />
          <mat-error>
            <div *ngIf="area.invalid">
              <div *ngIf="area.errors?.['required']">Área é obrigatório</div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Área -->
        <!-- INÍCIO: Preço -->
        <mat-form-field>
          <mat-label>Preço</mat-label>
          <input
            matInput
            currencyMask
            [options]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',',
              align: 'left'
            }"
            placeholder="Preço"
            formControlName="price"
            name="price"
          />
          <mat-error>
            <div *ngIf="price.invalid">
              <div *ngIf="price.errors?.['required']">Preço é obrigatório</div>
            </div>
          </mat-error>
        </mat-form-field>
        <!-- FIM: Preço -->
      </mat-card-content>
      <mat-card-actions>
        <a class="spacing" mat-button (click)="goBack()">Voltar</a>
        <button
          class="spacing"
          mat-flat-button
          color="primary"
          (click)="addCourse()"
        >
          Salvar
        </button>
      </mat-card-actions>
    </form>
    <!-- FIM: Form para adicionar curso -->
  </mat-card>
</div>
