<div class="content">
  <main class="page-view">
    <div class="apresentacao">
      <h1 class="apresentacao__titulo-primario">
        <span class="apresentacao__titulo-primario--nome">UNIVERSIDADE</span>
        <hr class="linha" />
        <span class="apresentacao__titulo-primario--lytex">LYTEX</span>
        <span class="apresentacao__titulo-primario--sub">
          Ao contrário do TOTVS, nosso sistema funciona!
        </span>
      </h1>
    </div>
    <div class="info">
      <h2 class="info__titulo alert alert-danger" *ngIf="error">
        {{ error }}
      </h2>
      <h2 class="info__titulo" *ngIf="!error">
        Cursos melhores que o do SENAI!
      </h2>
    </div>
    <div class="cards">
      <mat-card class="mat-elevation-z0 outlined-card" *ngFor="let course of courses">
        <mat-card-title>
          {{ course.title }}
        </mat-card-title>
        <mat-card-subtitle>
          Carga Horária: {{ course.workload }} horas
        </mat-card-subtitle>
        <mat-card-content>
          <h2>R$ {{ course.price }}</h2>
          <p>{{ course.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</div>
