<div class="content">
  <main class="page-view">
    <div class="apresentacao">
      <h1 class="apresentacao__titulo-primario">
        <span class="apresentacao__titulo-primario--nome">UNIVERSIDADE</span>
        <hr class="linha" />
        <span class="apresentacao__titulo-primario--lytex">LYTEX</span>
        <span class="apresentacao__titulo-primario--sub">
          Ao contrário do TOTVS, nosso sistema funciona!
        </span>
      </h1>
    </div>
    <div class="info">
      <h2 class="info__titulo">
        Preços mais baixos que um Playstation 5!
      </h2>
    </div>
    <div class="cards">
      <mat-card>
        <mat-card-title>
          Pós-Graduação em Direito Constitucional
        </mat-card-title>
        <mat-card-subtitle>
          Carga Horária: 720 horas
        </mat-card-subtitle>
        <mat-card-content>
          <h2>R$ 3.799,00</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="openDialog()">Saiba mais</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>
          MBA de Análise de Dados
        </mat-card-title>
        <mat-card-subtitle>
          Carga Horária: 420 horas
        </mat-card-subtitle>
        <mat-card-content>
          <h2>R$ 1.988,00</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="openDialog()">Saiba mais</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>
          Extensão de Cosmetologia
        </mat-card-title>
        <mat-card-subtitle>
          Carga Horária: 540 horas
        </mat-card-subtitle>
        <mat-card-content>
          <h2>R$ 1.749,00</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="openDialog()">Saiba mais</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- <div class="page1"></div>
    <div class="page2"></div> -->
  </main>
</div>
